[submodule "components/esp32-mpu6050"]
	path = components/esp32-mpu6050
	url = git://github.com/dieortin/esp32-mpu6050
[submodule "components/esp32-i2c_rw"]
	path = components/esp32-i2c_rw
	url = git://github.com/dieortin/esp32-i2c_rw